html {
    font-family: 'helvetica', monospace;
    min-height: 100%;

}

p {
font-size: 20px;
}

li {
    font-size: 20px;
}


bkg1{
     color: white;
    font-size: 16px;
    background: linear-gradient(to bottom, #acefea 0%, #ffccff 100%);

}
body {
    
    color: white;
    font-size: 17px;
    background: linear-gradient(to bottom, #acefea 0%, #ffccff 100%);
    min-height: 100%;
}

.container
{
 max-width: 1000px;
 margin: 0 auto;

}


.two-up {
    margin: 40px 0;
    /* border: 10px solid blue; */
    display: flex;
    justify-content: space-between;
}

.two-up div {
    width: 48%;
}
.two-up img {
    width: 100%;
}


.three-up {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
}

.three-up div {
    width: 90%;
}
.three-up img {
    width: 195%;
}



a{
    color:#acefea;
    -o-transition:color .2s ease-out, background 2s ease-in;
    -ms-transition:color .2s ease-out, background 2s ease-in;
    -moz-transition:color .2s ease-out, background 2s ease-in;
    -webkit-transition:color .2s ease-out, background 2s ease-in;
    transition:color .2s ease-out, background 2s ease-in;
    text-decoration: none;
}
a:hover { color:red; background:#ff9eed; }

b{
    color:#ff9eed;
    -o-transition:color .2s ease-out, background 2s ease-in;
    -ms-transition:color .2s ease-out, background 2s ease-in;
    -moz-transition:color .2s ease-out, background 2s ease-in;
    -webkit-transition:color .2s ease-out, background 2s ease-in;
    transition:color .2s ease-out, background 2s ease-in;
    text-decoration: none;
}

b:hover { color:red; background:#ff9eed; }

h1.title {
    font-size: 1.5rem;
    color: #ff9eed;
    padding-top: 400px;
    position:fixed;
    left: 479px;
    top:40px;

}

.locationtitle{
    color: #ff9eed;
}
.locationdesc{
    text-align: center;
    font-weight:bold;
    line-height: 30px;

}
.map{
    padding-top: 26px;

}

.locationdesc2{
    line-height: 30px;
    padding-top: 30px;
    text-align: center;
    font-weight:bold;
    padding-bottom: 27px;
    border-bottom: 7px dashed #fec4ff;

}
h2.list{
    color: white;
    top: 100px;
}

.fix {
    padding: 250px;
    position:fixed;
    left: 213px;
    top:40px;
    height:140px;
    width:auto;
}

.QB {
    font-size: 4rem;
    padding-left: 50px;
    margin-top: 60px;
    color: #ff9eed;
    margin: .5em 0;
} 

.isfs {
    font-size: 1.5rem;
    margin-top: 10px;
    padding-left: 55px;
    padding-bottom: 40px;
    border-bottom: 7px dashed #fec4ff;
    margin: 0;
}

.three-up{
display: flex;
justify-content: space-between;
}
.three-up div {
    width: 52%;
}

.three-up1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px 
    }

.three-up1 div {
        width: 48%;
    }
    
div.chat {
    border-radius: 25px;
    background: #ff9eed;
    position: fixed;
    padding: 40px; 
    left: 705px;
    width: 300px;
    height: 470px;  
    top:120px;
    margin: 0 auto;
}

.triangle {
    position: absolute;
    left: -29px;
    top: 204px;
    width: 0; 
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    border-right:30px solid #ff9eed; 
  }

  .fix2{
      margin-top: 40px;
      margin-left:190px;    

      height: 400px;
      width: auto;
  }

  .fix3{
    margin-top: 40px;
    margin-left:70px;    
    height: 400px;
    width: auto;
  }

.desc {
    max-width: 1500px;
    padding-right: 100px;
    padding: 3px;
    line-height: 30px;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 11px;
        border-bottom: 7px dashed #ff9eed;


  }

.it1 {

font-size: 2rem;
color: #ff9eed;
}

.it2{
     font-size: 2rem;
    color: #9ec2ff;
}

.fix4{
    position: absolute;
    right: 500px;
    height: 300px;
    width: auto;
    padding-left: 900px;
}

.fix5{
    position: absolute;
    height: 300px;
    width: auto;
    left: 960px;
}

.fix6{
    position: absolute;
    height: 300px;
    top: 937px;
    width: auto;
    padding-left: 1186px;

}

.youtube{
    padding-left: 210px;
    border-bottom: 7px dashed #9ec2ff;
    padding-bottom: 30px;
}



.fix7{
    position: absolute;
    height: 300px;
    width: auto;
}

.fix8{
    position: absolute;
    height: 300px;
    width: auto;
    left: 240px;
}

.fix9{
    position: absolute;
    height: 300px;
    width: auto;
    left: 494px;
}
.iteration1desc {
    font-weight:bold;

line-height: 27px;
 max-width: 1000px;
margin: 0 auto;

}
.iteration2desc {
text-align: center;
line-height: 27px;
margin: 0 auto;
max-width: 1000px;


}

.youtube2 {
    padding-top: 15px;
    padding-left: 210px;
    border-bottom: 7px dashed #9ec2ff;
    margin: auto;
    padding-bottom: 30px;

}

.daytitle{
    color: #ff9eed;
}

.daytitle2{
    color:#9ec2ff;
}
.daydesc{
    padding-top: 15px;
    text-align: center;
    font-weight:bold;
    line-height: 30px;

}

.daydescfinal{
    padding-top: 15px;
    text-align: center;
    font-weight:bold;
    line-height: 30px;
    padding-bottom: 15px;
    border-bottom: 7px dashed #9ec2ff;

}


.daydescfinal2{
    padding-top: 15px;
    text-align: center;
    font-weight:bold;
    line-height: 30px;
    padding-bottom: 15px;
    border-bottom: 7px dashed #ff9eed;

}

.fiveimgresize {
    padding-top: 20px;
    display: block;
    width: 40%;
    height: auto;
    margin: auto;
}

.link2 {
color:#ff9eed;
-o-transition:color .2s ease-out, background 2s ease-in;
-ms-transition:color .2s ease-out, background 2s ease-in;
-moz-transition:color .2s ease-out, background 2s ease-in;
-webkit-transition:color .2s ease-out, background 2s ease-in;
transition:color .2s ease-out, background 2s ease-in;
text-decoration: none;
}

.container2 {
 max-width: 1000px;
 margin: 0 auto;

}

.imageredirect {
    border: 10px solid blue;
    margin: 250px;
    display: flex;

}


.two-upnew {
    font-size: 20px;
    margin: 40px 0;
    padding-right: 300px;
    padding-top: 50px;
    display: flex;
    justify-content: left;
    font-size: 20px;
    padding-bottom: 200px;

}

.two-upnew div{
    padding-top: 10px;
}
.two-upnew img {
    width: 200%;
    margin-right: 300px;
    margin: 10px;

}

.two-upnew1 {
    font-size: 20px;
    margin: 50px 0;
    padding-right: 300px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-bottom: 30px;

}

.two-upnew1 img {
    width: 400%;
    height: auto;
    margin: 10px;
    padding-bottom: 10px;

}

.drawingfix {
    width: 20%;
    height: auto;
}
